* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    
}
.parent{
    height: 100%;
    width: 100vw;
    /* background-image: linear-gradient(to right top, #1166e2, #0087ea, #009fdc, #00b2c5, #54c1b3); */
    background-color:#2f4858;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.child{
    height: 90%;
    width: 90vw;
    background-color: #ffffff;
}
.child .home-blog{
    height: 20px;
    

}
.home-blog1{
    padding-left: 11vw;
    width: 20vw;
    height: 20px;
    display: flex;
    gap: 1.1vw;
    align-items: center;
}
.home-blog1 a{
    text-decoration: none;
    font-weight: 600;   
    
}
.myfitness{
    display: flex;
    align-items: center;
    justify-content: center;
}
.myfitness-left sup{
    font-size: 0.9vw;
    vertical-align: top;
}
.myfitness-left h1{
  color: #3c8cf5;
  font-size: 3vw;
  letter-spacing: 1px;
}
.myfitness-right button{
     border: none;
     color: #ffffff ;
     background-color: #3c8cf5;
     margin-left: 2px;
     margin-bottom: 14px;
     padding: 6px;
     font-size: 0.9vw;
     font-weight: 600;
     letter-spacing: 1px;
}
.myfitness{
    height: 30px;
  
}
.icon{
    height: 30px;
    
}
.icon-img{
    margin-right: 5vw;
   display: flex;
   justify-content: right;
   align-items: center;
   gap: 0.8vw;
}
.icon-img img{
    height: 20px;
    width: 2vw;
    transition: color 0.3s, transform 0.3s;
    
}
.icon-img img:hover{
    background-color: transparent;
    transform: scale(1.2);
}
.nav{
    height: 45px;
    background-color: #3c8cf5;
    display: flex;
   justify-content: center;
    align-items: center;
}
.navigation{
    width: 40vw;
    display: flex;
    justify-content: space-between;

}
.navigation a{
    text-decoration: none;
    color:#ffffff;
    font-size: 0.9vw;
    letter-spacing: 1px;
  
}
.navigation a:hover {
    background-color: transparent;
    text-decoration: underline; 
    color: #fff; 
   
}
.box{
    height: 220px;
    width: 90vw;
    display: flex;
    flex-direction: row;
}
.box .left-box{
     width: 20vw;
     
}
.box .left-box img{
    width: 20vw;
    height: 220px; 
}

.box .middle-box{
    width: 55vw;       
}
/*-----------------------------------------*/
.middle-box1{
    margin-top: 40px;
}
.middle-box1 h2{
    text-align: center;
    font-size: 3vw;
    word-spacing: 2px;
}
/*------------------------------------------*/
.middle-box2{
   margin-top: 10px;
}
.middle-box2 p{
    text-align: center;
    font-size: 1vw;
}
/*------------------------------------------*/
.middle-box3{
   
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.middle-box3 .your-email button{
    width: 18vw;
    padding: 12px 24px 12px 24px;
    margin-left: 65px;
    border: solid #3c8cf5;
    font-weight: 600;
    letter-spacing: 1px;
    color: #3c8cf5;
    transition: color 0.3s, transform 0.3s;
}

.your-email button:hover{
    transform: scale(1.1); 
}
.middle-box3 .signup button{
    width: 18vw;
    padding: 12px 24px 12px 24px;
    margin-right: 65px;
    border: none;
    background-color: #3c8cf5;
    font-weight: 600;
    letter-spacing: 1px;
    color:  #ffffff;
    transition: color 0.3s, transform 0.3s;
}
.signup button:hover{
   /* background-color: transparent;*/
    transform: scale(1.1); 
}

.box .right-box{
   width: 20vw;
  
}
.box .right-box img{
    width: 20vw;
    height: 220px;
}
.lower{
    display: flex;
    justify-content: center;
}
.lower-box{
    width: 70vw;
    height: 280px;   

}
.article{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article .left-article h3{
    font-size: 1.1vw;
    color: #838285;
}
.article .right-line{
    height: 3px;
    width: 59vw;
    background-color:#5699f0 ;
}
.footer{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.footer-icon{
    width: 2vw;

    display: flex;
    justify-content: center; 
    align-items: center; 
}
.footer-icon img{
  width: 2vw;
  height: 36px;
  transition: color 0.3s, transform 0.3s;

}
.footer-icon img:hover{
    background-color: transparent;
    transform: scale(1.2);
}
.footer-box{
    width: 11.5vw;
    height: 220px;
   
}
.footer-box img{
    width: 11.5vw;
    height: 130px;
}
.footer-box p{
    padding-top: 8px;
    font-size: 1vw;
    color: #838285;
}
